main.base_main{
    /* background-color: #E19A38; */
}
.choise_1{
    display: absolute;
    align-items:center;
    width: 30vw;
    height: 13vw;
    margin: 1vw;
    margin-top: 10vw;
    
    background: url('image/about_site1.png') repeat-x;
    border-width: 0.07vw;
    background-color: white;
    border-radius: 2vw;
}
.choise{
    display: absolute;
    align-items:center;
    width: 30vw;
    height: 13vw;
    margin: 1vw;

    background: url('image/about_site1.png') repeat-x;
    border-width: 0.07vw;
    background-color: white;
    border-radius: 2vw;
    
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

