.choise_1{
    align-items:center;
    width: 30vw;
    height: 13vw;
    margin: 1vw;
    margin-top: 3vw;
    
    border-width: 0.07vw;
    background-color: #E19A38;
    border-radius: 2vw;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
}

a{
    text-decoration: none;
    color: #121212;
}
.p_1{
    position: absolute;
    left: 11vw;
    top: 8.5em;
    border-width: 0.07vw;
    /* background-color: #E19A38; */
    /* border-radius: 2vw; */
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    margin: 0;
}
.p_2{
    position: absolute;
    left: 44vw;
    top: 8.5em;
    border-width: 0.07vw;
    /* background-color: #E19A38; */
    /* border-radius: 2vw; */
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    margin: 0;
}
.p_3{
    position: absolute;
    left: 11vw;
    top: 16em;
    border-width: 0.07vw;
    /* background-color: #E19A38; */
    /* border-radius: 2vw; */
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    margin: 0;
}
.p_4{
    position: absolute;
    left: 44vw;
    top: 16em;
    border-width: 0.07vw;
    /* background-color: #E19A38; */
    /* border-radius: 2vw; */
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    margin: 0;
}

.img_btn_1{
    position: absolute;
    height: 12.5vw;
    left: 23vw;
    top: 10em;
    /* z-index: 1; */
}
.img_btn_2{
    position: absolute;
    height: 12.5vw;
    left: 57vw;
    top: 10em;
}
.img_btn_3{
    position: absolute;
    height: 12.5vw;
    left: 53.5vw;
    top: 27vw;
}
.img_btn_4{
    position: absolute;
    height: 12.5vw;
    left: 25vw;
    top: 27vw;
}

.choise{
    align-items:center;
    width: 30vw;
    height: 13vw;
    margin: 1vw;

    border-width: 0.07vw;
    background-color: #E19A38;
    border-radius: 2vw; 
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    
}
.base_main{
    display: flex;
    justify-content: center;
}
.text_name_auth{
    display: flex;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    margin-top: 5vw;
    height: 2vw;
    margin-left: 35vw;
}

 /* ######################################################### */

.form_auth_school_1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    width: 47.2vw;
    height: 35.8vw;
    left: 14.6vw;
    top: 4.7vw;
    padding: 1vw;
    background: #FFFFFF;
    border-radius: 15px;
}

.select_school_teacher{
    position: absolute;
    width: 34vw;
    height: 4.6vw;
    left: 7vw;
    top: 12.9vw;
    background: #F5F5F5;
    border-radius: 15px;
    border: 0;
    padding-left: 1.1vw;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 0.8vw;
    color: #7E858E;
}


.input_login_teacher{
    position: absolute;
    width: 32.7vw;
    height: 4.6vw;
    left: 7vw;
    top: 7.3vw;
    background: #F5F5F5;
    border: 0;
    border-radius: 15px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 0.8vw;
    border-width: 0.1vw;
    padding-left: 1.1vw;
}


.input_password_teacher{
    position: absolute;
    width: 32.7vw;
    border: 0;
    height: 4.6vw;
    left: 7vw;
    top: 18.5vw;
    background: #F5F5F5;
    border-radius: 15px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 0.8vw;
    border-width: 0.1vw;
    padding-left: 1.1vw;
}

.button_auth_teacher{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2vw 1.8vw;
    border: 0;
    gap: 1.2vw;

    position: absolute;
    width: 8.4vw;
    height: 3.6vw;
    left: 19.3vw;
    top: 25vw;
    border-width: 0.1vw;

    background: #E19A38;
    border-radius: 5px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.25vw;
    color: #121212;
}

.p_text_auth_teacher{
    position: absolute;
    width: 30vw;
    border: 0;
    height: 0.8vw;
    left: 9.9vw;
    top: 2.6vw;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4vw;
    line-height: 0.8vw;

    color: #121212;
}

 /* ######################################################### */

.select_school_student{
    position: absolute;
    width: 34vw;
    height: 4.6vw;
    left: 7vw;
    border: 0;
    top: 12.9vw;
    background: #F5F5F5;
    border-radius: 15px;

    padding-left: 1.1vw;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 0.8vw;
    color: #7E858E;
}


.input_login_student{
    position: absolute;
    width: 32.7vw;
    height: 4.6vw;
    left: 7vw;
    top: 7.3vw;
    border: 0;
    background: #F5F5F5;
    border-radius: 15px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 0.8vw;
    border-width: 0.1vw;
    padding-left: 1.1vw;
}


.input_password_student{
    position: absolute;
    width: 32.7vw;
    height: 4.6vw;
    left: 7vw;
    top: 18.5vw;
    border: 0;
    background: #F5F5F5;
    border-radius: 15px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 0.8vw;
    border-width: 0.1vw;
    padding-left: 1.1vw;
}

.button_auth_student{
    display: flex;
    border: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2vw 1.8vw;
    gap: 1.2vw;

    position: absolute;
    width: 8.4vw;
    height: 3.6vw;
    left: 19.3vw;
    top: 25vw;
    border: 0;
    border-width: 0.1vw;

    background: #E19A38;
    border-radius: 5px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.25vw;
    color: #121212;
}

.p_text_auth_student{
    position: absolute;
    width: 30vw;
    
    height: 0.8vw;
    left: 9.9vw;
    top: 2.6vw;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4vw;
    line-height: 0.8vw;

    color: #121212;
}

/* ######################################################### */

.form_auth_school_2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    width: 47.2vw;
    height: 31.2vw;
    left: 14.6vw;
    top: 9.3vw;
    padding: 1vw;
    background: #FFFFFF;
    border-radius: 15px;
}

.input_login_school{
    position: absolute;
    width: 32.7vw;
    height: 4.6vw;
    border: 0;
    left: 7vw;
    top: 9.6vw;
    background: #F5F5F5;
    border-radius: 15px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    
    line-height: 0.8vw;
    border-width: 0.1vw;
    padding-left: 1.1vw;
}


.input_password_school{
    position: absolute;
    width: 32.7vw;
    height: 4.6vw;
    left: 7vw;
    top: 16.2vw;
    background: #F5F5F5;
    border: 0;
    border-radius: 15px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 0.8vw;
    border-width: 0.1vw;
    padding-left: 1.1vw;
}

.button_auth_school{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 1.2vw 1.8vw;
    gap: 1.2vw;

    position: absolute;
    width: 8.4vw;
    height: 3.6vw;
    left: 19.3vw;
    top: 22.7vw;
    border-width: 0.1vw;

    background: #E19A38;
    border-radius: 5px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.25vw;
    color: #121212;
}

.p_text_auth_school{
    position: absolute;
    width: 30vw;
    height: 0.8vw;
    left: 9.9vw;
    top: 4.9vw;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4vw;
    line-height: 0.8vw;

    color: #121212;
}

/* ######################################################### */

.input_login_admin{
    position: absolute;
    width: 32.7vw;
    height: 4.6vw;
    left: 7vw;
    border: 0;
    top: 9.6vw;
    background: #F5F5F5;
    border-radius: 15px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 0.8vw;
    border-width: 0.1vw;
    padding-left: 1.1vw;
}


.input_password_admin{
    position: absolute;
    width: 32.7vw;
    height: 4.6vw;
    left: 7vw;
    border: 0;
    top: 16.2vw;
    background: #F5F5F5;
    border-radius: 15px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 0.8vw;
    border-width: 0.1vw;
    padding-left: 1.1vw;
}

.button_auth_admin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 0;
    align-items: center;
    padding: 1.2vw 1.8vw;
    gap: 1.2vw;

    position: absolute;
    width: 8.4vw;
    height: 3.6vw;
    left: 19.3vw;
    top: 22.7vw;
    border-width: 0.1vw;

    background: #E19A38;
    border-radius: 5px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.25vw;
    color: #121212;
}

.p_text_auth_admin{
    position: absolute;
    width: 30vw;
    height: 0.8vw;
    left: 9.9vw;
    top: 4.9vw;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4vw;
    line-height: 0.8vw;

    color: #121212;
}