body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
main{
    display: flex;
}

table{

    height: 100%;
    border: 0.1vw solid black;
    }

.h_sched{
    margin: 0;
}
td, th{
    border: 0.1vw solid black;

    width: 16.5vw;
}
p{
    text-align: center;
    font-size: 1.5vw;
    margin: 0;
}
button{
    width: 100%;
}
h2{
    font-size: 5vw;
}
.sched_but{
    width: 2vw;
}
.day{
    font-size: 1.5vw;
}
footer{
    display: flex;
    margin-top: 3vw;
    height: 20%;
}
.div_lessons{
   
   border: 0.1vw solid black;
   width: 16.5%;
   height: 17vw;
}
select{
    width: 100%;
    height: 100%;
    text-align: center;
}
option{
    border-bottom: 0.1vw solid black ;
}
h3{
    margin: 0;
    padding: 0;
    text-align: center;
}