.div_class_teacher_info{
    margin: 1vw;
    width: 20%;

}
.ul_class_teacher_info{
    padding: 0;
    list-style-type: none;
}
.li_class_teacher_info{
    margin-top: 2vw;
}
.p_class_teacher_info{
    margin: 0;
    text-align: left;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1.19vw;
    line-height: 2.14vw;
}
.h_class_teacher_info{
    text-align: left;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.42vw;
    line-height: 2.14vw;
}
.vertical_news_box{
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 1vw;
    position: relative;
    background-color: #ffffff;
    width:34.5%;
    height: 95%;
    border-radius: 15px;
}
.class_div{
    display: flex;
    padding: 1vw;
    width: 100%;
    height: 100%;
}
.class_image{
    position: relative;
    top: 10vw;
    width: 15.77vw;
    height: 18.86vw;
}

.class2_image{
    position: relative;
    width: 25.67vw;
    height: 28.47vw;
}

.h_news_class{
    position: relative;
    text-align: center;
    margin: 0;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 2.14vw;
}

.news_text_class{
    overflow: auto;
    position: relative;
    width: 100%;
    height: 9vw;
    margin-top: 1vw;
    /* margin-left: 3vw; */
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    line-height: 2vw;
    text-align: center;
    /* background-color: tomato; */

}
.news_text_class::-webkit-scrollbar {
    width: 0.59vw;
    background-color: #C4C4C4;
    border-radius: 15px;
}
.news_text_class::-webkit-scrollbar-thumb {

    /* Primary */

    background-color: #E19A38;
    border-radius: 15px;
}