form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}
html{
    display: flex;
    flex-direction: column;
}

input, select{
    text-align: center;
    margin-top: 1vw;
    width: 20vw;
    height: 2vw;
}

.error{
    color: red;
    font-size: 2vw;
    text-align: center;
}