@font-face{
    font-family: 'Gilroy' ;
    src: url("fonts/Gilroy.otf");
}

.home_image{
    position: absolute;
    right: 1vw;
    width: 18.63vw;
    height: 17.32vw;
}
.two{
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    margin-left: 2.5%;
    position: relative;
    background-color: #E19A38;
    width: 95%;
    height: 34.5%;
    border-radius: 15px;
}




