/* .container{
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  } */

/* header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-top: 0.5vw;
    padding-bottom: 0.9vw ;
    margin-bottom: 20rem ;
    border-bottom: 3px solid #000000;
} */

/* ul{ */
    /* display: flex; */
    /* padding-left: 0; */
    /* align-items:center; */
    /* list-style: none; */
    /* flex: 0 0 auto; */
    /* width: auto;  */
    /* margin-bottom: 0.3rem; */
    /* justify-content: center; */
/* } */
.li_2{
    display: flex;
    position: relative;
    margin-right: 1vw;
    color: #a56608;
    text-decoration: none;
    padding-right: 0.4vw ;
    padding-left:0.4vw ;
}

.main{
    display: flex;
    position: relative;
    width: 35px;
    height: 35px;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
    margin-top:  0.5vw;
    margin-left: 0vw;
    flex-direction: column;
}

li{
    list-style-type: none;
}

.menu{
    position:fixed;
}




