/* .li_2{
    display: flex;
    position: relative;
    margin-right: 1vw;
    color: #a56608;
    text-decoration: none;
    padding-right: 0.4vw ;
    padding-left:0.4vw ;
} */

.head{
    background-color: rgb(154, 154, 154);
    height: 60px;
    justify-content: right;
    display: flex;
    /* right: 10px; */
    vertical-align: center;
    text-align: center;
    padding-right: 20px;
    padding-bottom: 5px;
}

.head, .person{
    justify-content: right;
    display: flex;
    vertical-align: middle;
    text-align: center;
}

.head .logo{
    display:block;
    justify-content: center;
    
    vertical-align:middle;
    text-align: center;
}

.text {
    position: relative;
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
}
.main_img{
    display: flex;
    position: relative;
    width: 35px;
    height: 35px;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
    margin-top:  0.5vw;
    margin-left: 0vw;
    flex-direction: column;
}

li{
    list-style-type: none;
}

.menu{
    /* background-color: rgb(167, 167, 167); */
    position:fixed;
}

.person{
    width: 35px;
    height: 35px;
}

.logo{
    width: 35px;
    height: 35px;
}


