@font-face{
    font-family: 'text1';
    src: url('fonts/KyivTypeSerif-VarGX.ttf');
}
html{
    height: 100%;
    width: 100%;
    background-color: rgba(113, 151, 221, 0.815);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    background-color: rgba(113, 151, 221, 0.815);
    width: 99%;
    flex-direction: column;
}
h2{
    display: block;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-family: 'text1', serif;
    font-size: 3vw;
}
form p{
    position: relative;
    display: block;
    text-align: center;
    height: 12%;
}

input{
    position: relative;
    text-align: center;
    color: rgb(253, 255, 245);
    background-color: rgba(52, 95, 112, 0.657);
    width: 70%;
    height: 100%;
    border-radius: 40vw;
    padding: 0;
    font-size: 2vw;
    border: 2px solid black;
    
    
}
input:hover{
    background-color: rgba(29, 57, 68, 0.657);
}

.but{
    color: rgb(163, 28, 80);
    background-color: rgba(190, 120, 246, 0.733);
    width: 40%;
    font-size: 2vw;
    font-family: 'text1';
}
.but:hover{
    background-color: rgba(131, 54, 194, 0.733);
}

.reg-form{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-top: 20%;    */
    width: 50%;
    height: 45%;
    border-radius: 20vw;
    border: 10px solid rgb(4, 48, 143);
}

form{
    margin-top: 3vw;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(143, 222, 233);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(143, 222, 233);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(143, 222, 233);
  }
.enter-button{
    border: 3px, solid rgb(22, 70, 124);
    display: block;
    text-align: center;
}
.enter-button:hover{
    border: 3px, solid rgb(22, 70, 124);
}
a{
    color: rgb(43, 73, 158);
    font-size: 2vw;
    text-decoration: none;
    font-family: 'text1', serif;
}
a:hover{
    color:  rgb(66, 108, 221);;
}

img{
    width: 35%;
    height: 35% ;
}

.error-box{
    position: relative;
    display: block;
    background-color:rgb(133, 42, 57);
    width: 40%;
    height: 5%;
    border:5px solid rgb(22, 70, 124);
    text-align: center;
    border-radius: 20vw;
}

.error-box p{
    font-family: 'text1', serif;
    font-size: 2vw;
    margin: 0;
}