@font-face{
    font-family: 'Gilroy' ;
    src: url("fonts/Gilroy.otf");
}
@font-face{
    font-family: 'SF Pro' ;
    src: url("https://fonts.googleapis.com/css?family=SF+Pro&display=swap");
}
.ul_named{
    list-style-type: none;
    position: absolute;
    width: 78.4vw;
    margin: 0;
    top: -3vw;
    margin-left: 0.8vw;
    display: flex;
    /* background-color: chartreuse; */
}
.li_named{
    /* margin-left: 7vw;
    margin-right: 13vw; */
    width: 31.5%;
}
.h3_named{
    /* Text */
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 1vw;
    /* identical to box height, or 89% */
    text-align: center;
    letter-spacing: 0.01em;

    /* Grey */
    color: #7E858E;
}
.div_schools{
    overflow-y:auto ;
    /* overflow-y: hidden; */
    position: relative;
    margin-left: 1%;
    width: 78.4vw;
    height: 85%;
    /* border: 0.1vw solid black; */
    /* background-color: blue; */
}
.div_schools::-webkit-scrollbar {
    width: 0.59vw;
    background-color: #C4C4C4;
    border-radius: 15px;
}
.div_schools::-webkit-scrollbar-thumb {

    /* Primary */

    background-color: #E19A38;
    border-radius: 15px;
}
.ul_schools{
    position: relative;
    list-style-type: none;
    padding-top: 1vw;
    width: 98%;
    height: 100%;
    padding-left: 1%;
}

.li_schools{
    position: relative;
    width: 100%;
    height: 4.76vw;
    
    margin-top: 1vw;
    margin-bottom: 1vw;
    /* background-color: chartreuse; */
}
.form_school{
    position: relative;
    width: 100%;
    height: 100%;
}
.button_schools{
    position: relative;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 15px;
    border: 0;
    /* z-index: 1; */
}
.form_school:hover button{
    background: rgba(18, 18, 18, 0.63);
    filter: blur(2px);
}
/* .li_schools:hover::after{
    content: 'Переглянути';
    position: relative;
    top: -3vw;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 1vw;

    z-index: 1;
    text-align: center;
    text-align: center;



    color: #FFFFFF;


} */
.disable_error{
    width: 10vw;
    height: 2vw;
    position: absolute;
    left: 33vw;
    top: 1.7vw;
    /* z-index: 2; */
    text-align: center;

    color: transparent;
    /* background-color: red; */
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 1vw;
}
.form_school:hover div{
    color: #FFFFFF;
}
.ul_school{
    list-style-type: none;
    display: flex;
    
}
.li_school{
    /* display: flex; */
    /* align-items: center; */
    position: relative;
    width: 33.3%;
    /* margin-left: 7vw;
    margin-right: 13vw; */
    text-align: center;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1vw;
    line-height: 1.4vw;
    /* identical to box height */

    text-transform: capitalize;

    /* Text */

    color: #121212;
}
.button_make_school{

    box-sizing: border-box;

/* Auto layout */

    text-align: center;
    border: 0;
    /* padding: px 30px; */
    gap: 20px;

    position: relative;
    width: 11vw;
    height: 3.7vw;
    /* left: 58vw;
    top: 741px; */

    /* Primary */

    background: #E19A38;
    border-radius: 5px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.25vw;

    /* Text */

    color: #121212;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.div_new_school{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(18, 18, 18, 0.63);
    backdrop-filter: blur(4px);
}

.but_new_school{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.form_new_school{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 47.2vw;
    height: 35.8vw;

    background: #FFFFFF;
    border-radius: 15px;
    z-index: 13;
}
.form_new_student{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 47.2vw;
    height: 48vw;
    padding: 1vw;
    background: #FFFFFF;
    border-radius: 15px;
    z-index: 13;
}

.h_new_school{
    font-family: 'Gilroy';
    font-style: normal;
    margin-bottom: 2vw;
    font-weight: 500;
    font-size: 1.42vw;
    line-height: 0.8vw;
    /* identical to box height, or 58% */

    text-align: right;

    /* Text */

    color: #121212;
}
.input_new_school{
    width: 32.7vw;
    height: 4.64vw;
    border: 0;
    background: #F5F5F5;
    border-radius: 15px;
    padding-left: 1.2vw;
    margin-bottom: 1vw;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1vw;
    line-height: 0.8vw;
    /* identical to box height, or 78% */

    text-align: left;

    /* Grey */

    color: #7E858E;
}
.select_new_school{
    width: 33.93vw;
    height: 4.64vw;
    border: 0;
    background: #F5F5F5;
    border-radius: 15px;
    padding-left: 1.2vw;
    margin-bottom: 1vw;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 1.1vw;
    line-height: 0.8vw;
    /* identical to box height, or 78% */

    text-align: left;

    /* Grey */

    color: #7E858E;
}

.button_new_school{

    box-sizing: border-box;

    /* Auto layout */
    border: 0;

    position: relative;
    width: 8.45vw;
    height: 3.63vw;


    /* Primary */

    background: #E19A38;
    border-radius: 5px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 1.4vw;

    /* Text */

    color: #121212;
}

.button_del{
    background-image: url('image/del.png');
}