.p_name_contacts_school{
    position: absolute;
    margin-top: 1.6vw;
    left: 36vw;
    right: 45vw;
    top: 5vw;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.4vw;
    line-height: 1.6vw;
    text-align: left;

}

.p_phone_school{
    position: absolute;
    width: 10.9vw;
    height: 1.3vw;
    left: 5.2vw;
    top: 12.3vw;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 1.3vw;

    letter-spacing: 0.02vw;
}

.p_email_school{
    position: absolute;
    width: 12.4vw;
    height: 1.3vw;
    left: 5.2vw;
    top: 17.8vw;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 1.3vw;
    
    letter-spacing: 0.02vw;
}

.p_facebook_school{
    position: absolute;
    width: 10.9vw;
    height: 1.3vw;
    left: 5.2vw;
    top: 23vw;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 1.3vw;
    
    letter-spacing: 0.02vw;
}

.p_instagram_school{
    position: absolute;
    width: 10.9vw;
    height: 1.3vw;
    left: 5.2vw;
    top: 28.9vw;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 1.3vw;
    
    letter-spacing: -0.408px;
}

.phone_school{
    position: absolute;

    width: 2.8vw;
    height: 2.8vw;

    left: 1.3vw;
    right: 93.72vw;
    top: 12.7vw;
    bottom: 71.16vw;
}

.google_school{
    position: absolute;

    width: 2.8vw;
    height: 2.8vw;

    left: 1.3vw;
    right: 93.72vw;
    top: 18.2vw;
    bottom: 37.9vw;
}

.facebook_school{
    position: absolute;

    width: 2.8vw;
    height: 2.8vw;

    left: 1.3vw;
    right: 93.7vw;
    top: 23.4vw;
    bottom: 48.99vw;
}

.instagram_school{
    position: absolute;

    width: 2.8vw;
    height: 2.8vw;

    left: 1.3vw;
    right: 93.72vw;
    top: 29.3vw;
    bottom: 26.8vw;
}

.school_contacts_image1{
    position: absolute;
    width: 21.8vw;
    height: 22.5vw;
    left: 43.5vw;
    top: 9.3vw;
}

.school_contacts_image2{
    position: absolute;
    width: 27.5vw;
    height: 23.5vw;
    left: 15vw;
    top: 26.3vw;
}