{% extends 'MainApp/base.html' %}

{% load static %}
{% block content %}
    <main class="base_main">

    
    {% if type_page == 'start' %}
        <main>
            <form action="" method="POST">
                {% csrf_token %}
                <p class="text_name_auth"> Авторизація </p>
                <button class='choise_1' name='button_choise' value="0"><img src="{% static 'image/home2.png' %}" class="img_btn_1">Учень</button>
                <button class='choise_1' name='button_choise' value="1"><img src="{% static 'image/home1.png' %}" class="img_btn_2">Вчитель</button>
                <button class='choise' name='button_choise' value="2"><img src="{% static 'image/school1.png' %}" class="img_btn_3">Школа</button>
                <button class='choise' name='button_choise' value="3"><img src="{% static 'image/school2.png' %}" class="img_btn_4">Адміністратор</button>
            </form>
        </main>
    {% endif %}
    {% if type_page == '1' %}
    
        <main >
            <form action="" method="POST">
                {% csrf_token %}
                <select name="school_name" id="">
                    <option value="None" selected>Школа</option>
                    {% for i in school_range %}
                        <option value="{{i.id}}">{{i.title}}</option>
                    {% endfor %}
                </select>
                <input type="text" placeholder="Логін" name='login' autocomplete="off">
                <input type="password" placeholder="Пароль" name='password' autocomplete="off">
                <button name="submit" value="teacher">Вхід</button>
                {% if error_text == '1' %}
                    <p>Error</p>
                {% endif %}
            </form>
        </main>
    {% endif %}
    {% if type_page == '0' %}
    
        <main>
            <form action="" method="POST">
                {% csrf_token %}
                <select name="school_name" id="">
                    <option value="None" selected>Школа</option>
                    {% for i in school_range %}
                        <option value="{{i.id}}">{{i.title}}</option>
                    {% endfor %}
                </select>
                <input type="text" placeholder="Логін" name='login' autocomplete="off">
                <input type="password" placeholder="Пароль" name='password' autocomplete="off">
                <button name="submit" value="student">Вхід</button>
                {% if error_text == '1' %}
                    <p>Error</p>
                {% endif %}
            </form>
        </main>
    {% endif %}
    {% if type_page == '2' %}
    
        <main>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Логін" name='login' autocomplete="off">
                <input type="password" placeholder="Пароль" name='password' autocomplete="off">
                <button name="submit" value="school">Вхід</button>
                {% if error_text == '1' %}
                    <p>Error</p>
                {% endif %}
            </form>
        </main>
    {% endif %}
    {% if type_page == '3' %}
    
        <main>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Логін" name='login' autocomplete="off">
                <input type="password" placeholder="Пароль" name='password' autocomplete="off">
                <button name="submit" value="admin">Вхід</button>
                {% if error_text == '1' %}
                    <p>Error</p>
                {% endif %}
            </form>
        </main>
    {% endif %}
</main>
{% endblock %}