{% extends 'MainApp/base.html' %}

{% load static %}
{% block content %}
    <main class="base_main">

    
    {% if type_page == 'start' %}
        <main>
            <form action="" method="POST">
                {% csrf_token %}
                <p class="text_name_auth"> Авторизація </p>
                <button class='choise_1' name='button_choise' value="0"><img src="{% static 'image/home2.png' %}" class="img_btn_1"></button>
                <button class='choise_1' name='button_choise' value="1"><img src="{% static 'image/home1.png' %}" class="img_btn_2"></button>
                <button class='choise' name='button_choise' value="2"><img src="{% static 'image/school1.png' %}" class="img_btn_3"></button>
                <button class='choise' name='button_choise' value="3"><img src="{% static 'image/school2.png' %}" class="img_btn_4"></button>
                <a class="p_1" href="/auth/0"> Учень </a>
                <a class="p_2" href="/auth/1"> Вчитель </a>
                <a class="p_3" href="/auth/3"> Адміністратор </a>
                <a class="p_4" href="/auth/2"> Школа </a>
            </form>
        </main>
    {% endif %}
    {% if type_page == '1' %}
    
        <main >
            <form action="" method="POST" class="form_auth_school_1">
                {% csrf_token %}
                <p class="p_text_auth_teacher"> Авторизуватись як вчитель </p>
                <select name="school_name" id="" class="select_school_teacher">
                    <option value="None" selected>Школа</option>
                    {% for i in school_range %}
                        <option value="{{i.id}}">{{i.title}}</option>
                    {% endfor %}
                </select>
                <input type="text" placeholder="Логін" name='login' autocomplete="off" class="input_login_teacher">
                <input type="password" placeholder="Пароль" name='password' autocomplete="off" class="input_password_teacher">
                <button name="submit" value="teacher" class="button_auth_teacher">Вхід</button>
                {% if error_text == '1' %}
                    <p>Error</p>
                {% endif %}
            </form>
        </main>
    {% endif %}
    {% if type_page == '0' %}
    
        <main>
            <form action="" method="POST" class="form_auth_school_1">
                {% csrf_token %}
                <p class="p_text_auth_student"> Авторизуватись як учень </p>
                <select name="school_name" id="" class="select_school_student">
                    <option value="None" selected>Школа</option>
                    {% for i in school_range %}
                        <option value="{{i.id}}">{{i.title}}</option>
                    {% endfor %}
                </select>
                <input type="text" placeholder="Логін" name='login' autocomplete="off" class="input_login_student">
                <input type="password" placeholder="Пароль" name='password' autocomplete="off" class="input_password_student">
                <button name="submit" value="student" class="button_auth_student">Вхід</button>
                {% if error_text == '1' %}
                    <p>Error</p>
                {% endif %}
            </form>
        </main>
    {% endif %}
    {% if type_page == '2' %}
    
        <main>
            <form action="" method="POST" class="form_auth_school_2">
                {% csrf_token %} 
                <p class="p_text_auth_school"> Авторизуватись як школа </p>
                <input type="text" placeholder="Логін" name='login' autocomplete="off" class="input_login_school">
                <input type="password" placeholder="Пароль" name='password' autocomplete="off" class="input_password_school">
                <button name="submit" value="school" class="button_auth_school">Вхід</button>
                {% if error_text == '1' %}
                    <p>Error</p>
                {% endif %}
            </form>
        </main>
    {% endif %}
    {% if type_page == '3' %}
    
        <main>
            <form action="" method="POST" class="form_auth_school_2">
                {% csrf_token %}
                <p class="p_text_auth_admin"> Авторизуватись як адміністратор </p>
                <input type="text" placeholder="Логін" name='login' autocomplete="off" class="input_login_admin">
                <input type="password" placeholder="Пароль" name='password' autocomplete="off" class="input_password_admin">
                <button name="submit" value="admin" class="button_auth_admin">Вхід</button>
                {% if error_text == '1' %}
                    <p>Error</p>
                {% endif %}
            </form>
        </main>
    {% endif %}
</main>
{% endblock %}