
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'class.css' %}" type="text/css">
    </head>
    <body>
        <main>
        <div>
            <p class="h_sched">Інформація</p>
        <table>
            <tr>
                <th>
                    <h2>{{class.rank}} - {{class.name}}</h2>
                </th>
            </tr>
            <tr>
                <td>
                    <p> {{class.class_teacher.name}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <button name='but_id' value='edit_student'>Редагувати список учнів</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="" method="POST">
                        {% csrf_token %}
                    <button name='but_id' value='edit_lessons'>Редагувати список предметів</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="" method="POST">
                        {% csrf_token %}
                    <button name='but_id' value='edit_schadult'>Редагувати розклад</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="" method="POST">
                        {% csrf_token %}
                    <button name='but_id' value='edit_info'>Редагувати інформацію класу</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
        <div>
            <p class='h_sched'>Розклад</p>
        <table>
            <tr>
                <th>
                    Понеділок
                </th>
                <th>
                    Вівторок
                </th>
                <th>
                    Середа
                </th>
                <th>
                    Четвер
                </th>
                <th>
                    П'ятниця
                </th>
            </tr>
            <tr>
                <td class="class_td">
                    <ol class="class_ul">
                            {% for j in class.schedult.Mon %}
                            <li class="class_li">
                                <p class="class_p">{{j.name}}</p>
                            </li>
                            {% endfor %}
                    </ol>
                    </td>
                    <td>
                        <ol>
                            {% for j in class.schedult.Tue %}
                            <li class="class_li">
                                <p class="class_p">{{j.name}}</p>
                            </li>
                            {% endfor %}
                        </ol>
                    </td>
                    <!-- <tr> -->
                    <td>
                        <ol>
                            {% for j in class.schedult.Wed %}
                            <li class="class_li">
                                <p class="class_p">{{j.name}}</p>
                            </li>
                            {% endfor %}
                        </ol>
                    </td>
                    
                    <td>
                        <ol>
                            {% for j in class.schedult.Thr %}
                            <li class="class_li">
                                <p class="class_p">{{j.name}}</p>
                            </li>
                            {% endfor %}
                        </ol>
                    </td>
                <!-- </tr> -->
                    <td>
                        <ol>
                            {% for j in class.schedult.Fri %}
                            <li class="class_li">
                                <p class="class_p">{{j.name}}</p>
                            </li>
                            {% endfor %}
                        </td>
                    </ol>
                </td>
            <!-- </tr> -->
        </table>
    </div>
        </main>
        <footer>
            
            <div class='div_lessons'>
                <h3>Список уроків</h3>
                <form action="" method="POST" class = 'form_lessons'>
                    {% csrf_token %}
                    <select name="" id="" size='10' >
                        {% for i in lesson_range %}
                            <option value="{{i.ID}}">{{i.name}}({{i.teacher.name}})</option>
                        {% endfor %}
                    </select>
                    <button name='but_id' value='show_lesson'>Переглянути</button>
                </form>
            </div>
            <div class='div_lessons'>
                <h3>Список учнів</h3>
                <form action="" method="POST" class = 'form_lessons'>
                    {% csrf_token %}
                    <select name="students" id="" size='10'>
                        {% for i in student_range %}
                            <option value="{{i.id}}">{{i.name}} {{i.surname}}</option>
                        {% endfor %}
                    </select>
                    <button name='but_id' value='show_student'>Переглянути</button>
                </form>
            </div>
        </footer>
        {% if student != 0 %}
            <main class="student">
                <div class="student_div">
                    <h2 class = 'student_h2'>Учень</h2>
                    <div class='student_div2'>
                        
                        <div class='student_p_div'>
                            <h3 class = 'student_h3'>Ім'я</h3>
                            <p class='student_p'>{{student.surname}} {{student.name}} {{student.second_name}}</p>
                            <h3 class = 'student_h3'>Дата народження</h3>
                            <p class='student_p'>{{student.birthday}} ({{student.age}} років)</p>
                            <h3 class = 'student_h3'>Адреса</h3>
                            <p class='student_p'>{{student.adress}}</p>
                        </div>
                        <div class='student_p_div'>
                            <h3 class = 'student_h3'>Номер телефону</h3>
                            <p class='student_p'>{{student.number_phone}}</p>
                            <h3 class = 'student_h3'>Електронна адреса</h3>
                            <p class='student_p'>{{student.email}}</p>
                            <h3 class = 'student_h3'>Пароль</h3>
                            <p class='student_p'>{{student.password}}</p>
                        </div>
                    </div>
                    <h2 class = 'student_h2'>Батьки</h2>
                    <div class='student_div2'>
                            
                            <div class='student_p_div'>
                                <h3 class = 'student_h3'>Ім'я</h3>
                                <p class='student_p'>{{student.name_parrent1}}</p>
                                <h3 class = 'student_h3'>Номер телефону</h3>
                                <p class='student_p'>{{student.number_phone_parrent1}}</p>
                                <h3 class = 'student_h3'>Місце роботи</h3>
                                <p class='student_p'>{{student.work_parrent1}}</p>
                            </div>
                            <div class='student_p_div'>
                                <h3 class = 'student_h3'>Ім'я</h3>
                                <p class='student_p'>{{student.name_parrent2}}</p>
                                <h3 class = 'student_h3'>Номер телефону</h3>
                                <p class='student_p'>{{student.number_phone_parrent2}}</p>
                                <h3 class = 'student_h3'>Місце роботи</h3>
                                <p class='student_p'>{{student.work_parrent2}}</p>
                            </div>
                    </div>
                    <form action="" method="POST" class = 'student_form'>
                        {% csrf_token %}
                        <button name='but_id' class='but_close' value='close_student'>Закрити</button>
                        <button name='but_id' class='but_open' value='open_student'>Переглянути оцінки</button>
                    </form>
                </div>
            </main>
        {% endif %}
    </body>
</html>









