{% extends 'MainApp/base.html' %}
{% load static %}

{% block content %}
<main class='base_main'>
    <ul class="ul_named">
        <li class="li_named">
            <h3 class="h3_named">
                Клас
            </h3>
        </li>
        <li class="li_named">
            <h3 class="h3_named">
                Вчитель
            </h3>
        </li>
    </ul>
    <div class="div_schools">
        <ul class='ul_schools'>
            {% for i in range %}
            <li class="li_schools">
                <form action="" class="form_school" method="POST">
                    {% csrf_token %}
                    <!-- <div class="div_school"> -->
                        <!-- <p> Переглянути</p> -->
                        <div  class='button_schools'>
                            <ul class='ul_school'>
                                <!-- <li class="li_school">
                                    {{i.ID}}
                                </li> -->
                                
                                <li class="li_school">
                                    {{i.rank}}-{{i.name}}
                                </li>
                                <li class="li_school">
                                    {{i.class_teacher.name}}
                                </li>
                            </ul>
                            
                        </div>
                        <button name="button_edit" value="{{i.ID}}" class="button_edit_school">
                            <img src="{% static 'image/edit.png' %}" alt="">
                        </button>
                        <button name="button_del" value="{{i.ID}}"class="button_del_school">
                            <img src="{% static 'image/del.png' %}" alt="">
                        </button>
                        <button name='id'  value="{{i.ID}}" class="disable_error">Переглянути</button>
                    <!-- </div> -->
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    <p class="p_make_school">
        <form action="" method="POST">
            {% csrf_token %}
            {% if perms.MainApp.show_school %}
            <button  class="button_make_school" name='make' value="1">Cтворити клас</button>
            {% endif %}
        </form>
    </p>
</main>
    {% if make == True %}
    
        <div class='div_new_school'>
            <form action="" method="POST">
                {% csrf_token %}
                <button class='but_new_school'></button>
            </form>
            <form action="" method="POST" class='form_new_school'>
                {% csrf_token %}
                {% if info_for_edit == None %}
                    <p class = 'h_new_school'>Створити клас</p>
                    <input class='input_new_school' type="text" placeholder="Літера класу" name="name" autocomplete="off">
                    <select class='select_new_school' name="teacher" class="reg_input" id="" >
                        <option value="null" selected>Вчитель</option>
                        {% for teach in teacher_range %}
                        <option value="{{teach.ID}}">{{teach.name}}</option>
                        {% endfor %}
                    </select>
                    <input class = 'input_new_school' type="number" name="rank" placeholder="Номер класу" autocomplete="off"  min="1" max="12">
                    <button value="1" name="new_class" class="button_new_school" autocomplete="off">Створити</button>
                {% else %}
                    <p class = 'h_new_school'>Редагувати клас</p>
                    <input class='input_new_school' type="text" placeholder="Літера класу" name="name" autocomplete="off" value="{{info_for_edit.name}}">
                    <select class='select_new_school' name="teacher" class="reg_input" id="" >
                        <option value="{{info_for_edit.class_teacher.ID}}" selected>{{info_for_edit.class_teacher.name}}</option>
                        {% for teach in teacher_range %}
                        <option value="{{teach.ID}}">{{teach.name}}</option>
                        {% endfor %}
                    </select>
                    <input class = 'input_new_school' value="{{info_for_edit.rank}}" type="number" name="rank" placeholder="Номер класу" autocomplete="off"  min="1" max="12">
                    <button name="save_school" value="{{info_for_edit.ID}}" class="button_new_school" autocomplete="off">Зберегти</button>
                {% endif %}
            </form>
        </div>
    {% endif %}
{% endblock %}
                   