{% extends 'MainApp/base.html' %}

{% load static %}
{% block content %}
    <main class="base_main">
        <form action="" method="POST">
            {% csrf_token %}
            <ul class='menu_school_ul'>
                <li class='menu_school_li'>
                    {% if menu_class_select == 1 %} 
                        <div class='menu_school_div menu_school_selected'>
                    {% else %}
                        <div class='menu_school_div'>
                    {% endif %}   
                        <button class="menu_school_button" name = 'button_menu' value="1">{{class.rank}} - {{class.name}}</button>
                    </div>
                    
                    
                </li>
                <li class='menu_school_li'>
                    {% if menu_class_select == 2 %} 
                        <div class='menu_school_div menu_school_selected'>
                    {% else %}
                        <div class='menu_school_div'>
                    {% endif %}  
                        <button class="menu_school_button" name = 'button_menu' value="2">Розклад</button>
                    </div>
                </li>
                <li class='menu_school_li'>
                    {% if menu_class_select == 3 %} 
                        <div class='menu_school_div menu_school_selected'>
                    {% else %}
                        <div class='menu_school_div'>
                    {% endif %}  
                        <button class="menu_school_button" name = 'button_menu' value="3">Список учнів</button>
                    </div>
                </li>
                <li class='menu_school_li'>
                    {% if menu_class_select == 4 %} 
                        <div class='menu_school_div menu_school_selected'>
                    {% else %}
                        <div class='menu_school_div'>
                    {% endif %}  
                        <button class="menu_school_button" name = 'button_menu' value="4">Список уроків</button>
                    </div>
                </li>
                <li class='menu_school_li'>
                    {% if menu_class_select == 5 %} 
                        <div class='menu_school_div menu_school_selected'>
                    {% else %}
                        <div class='menu_school_div'>
                    {% endif %}  
                        <button class="menu_school_button" name = 'button_menu' value="7">Оцінки</button>
                    </div>
                </li>
            </ul>
        </form>
        <div class="class_div">
            
            <div class="div_class_teacher_info">
                <p class="h_class_teacher_info">Інформація про класного керівника:</p>
                <ul class="ul_class_teacher_info">
                    <li class="li_class_teacher_info">
                        <p class="p_class_teacher_info">Ім'я:</p>
                        <p class="p_class_teacher_info">{{class.class_teacher.name}}</p>
                    </li>
                    <li class="li_class_teacher_info">
                        <p class="p_class_teacher_info">Email:</p>
                        <p class="p_class_teacher_info">{{class.class_teacher.email}}</p>
                    </li>
                    <li class="li_class_teacher_info">
                        <p class="p_class_teacher_info">Номер телефону:</p>
                        <p class="p_class_teacher_info">+38{{class.class_teacher.phone}}</p>
                    </li>
                </ul>
            </div>
            <div class="vertical_news_box">
                <p class="h_news_class">Новина класу</p>
                <p class="news_text_class">{{class.news_text1}}</p>
                <img class = 'home_image class2_image' src="{% static 'image/class2.png' %}" alt="">
            </div>
            <div class="vertical_news_box">
                <p class="h_news_class">Новина класу</p>
                <p class="news_text_class">{{class.news_text2}}</p>
                <img class = 'home_image class_image' src="{% static 'image/class1.png' %}" alt="">
            </div>
        </div>
    </main>
{% endblock %}
    <body>
        <main>
        <div>
            <p class="h_sched">Інформація</p>
        <table>
            <tr>
                <th>
                    <h2>{{class.rank}} - {{class.name}}</h2>
                </th>
            </tr>
            <tr>
                <td>
                    <p> {{class.class_teacher.name}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <button name='but_id' value='edit_student'>Редагувати список учнів</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="" method="POST">
                        {% csrf_token %}
                    <button name='but_id' value='edit_lessons'>Редагувати список предметів</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="" method="POST">
                        {% csrf_token %}
                    <button name='but_id' value='edit_schadult'>Редагувати розклад</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <form action="" method="POST">
                        {% csrf_token %}
                    <button name='but_id' value='edit_info'>Редагувати інформацію класу</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
        <div>
            <p class='h_sched'>Розклад</p>
        <table>
            <tr>
                <th>
                    Понеділок
                </th>
                <th>
                    Вівторок
                </th>
                <th>
                    Середа
                </th>
                <th>
                    Четвер
                </th>
                <th>
                    П'ятниця
                </th>
            </tr>
            <tr>
                <td class="class_td">
                    <ol class="class_ul">
                            {% for j in class.schedult.Mon %}
                            <li class="class_li">
                                <p class="class_p">{{j.name}}</p>
                            </li>
                            {% endfor %}
                    </ol>
                    </td>
                    <td>
                        <ol>
                            {% for j in class.schedult.Tue %}
                            <li class="class_li">
                                <p class="class_p">{{j.name}}</p>
                            </li>
                            {% endfor %}
                        </ol>
                    </td>
                    <!-- <tr> -->
                    <td>
                        <ol>
                            {% for j in class.schedult.Wed %}
                            <li class="class_li">
                                <p class="class_p">{{j.name}}</p>
                            </li>
                            {% endfor %}
                        </ol>
                    </td>
                    
                    <td>
                        <ol>
                            {% for j in class.schedult.Thr %}
                            <li class="class_li">
                                <p class="class_p">{{j.name}}</p>
                            </li>
                            {% endfor %}
                        </ol>
                    </td>
                <!-- </tr> -->
                    <td>
                        <ol>
                            {% for j in class.schedult.Fri %}
                            <li class="class_li">
                                <p class="class_p">{{j.name}}</p>
                            </li>
                            {% endfor %}
                        </td>
                    </ol>
                </td>
            <!-- </tr> -->
        </table>
    </div>
        </main>
        <footer>
            
            <div class='div_lessons'>
                <h3>Список уроків</h3>
                <form action="" method="POST" class = 'form_lessons'>
                    {% csrf_token %}
                    <select name="lessons" id="" size='10' >
                        {% for i in lesson_range %}
                            <option value="{{i.ID}}">{{i.name}}({{i.teacher.name}})</option>
                        {% endfor %}
                    </select>
                    <button name='but_id' value='show_lesson'>Переглянути</button>
                </form>
            </div>
            <div class='div_lessons'>
                <h3>Список учнів</h3>
                <form action="" method="POST" class = 'form_lessons'>
                    {% csrf_token %}
                    <select name="students" id="" size='10'>
                        {% for i in student_range %}
                            <option value="{{i.id}}">{{i.name}} {{i.surname}}</option>
                        {% endfor %}
                    </select>
                    <button name='but_id' value='show_student'>Переглянути</button>
                </form>
            </div>







