<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'editinfo.css' %}" type="text/css">
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        
        <input type="text" name="rank" value="{{class.rank}}" placeholder="Номер класу">
        <select name="teacher" class="reg_input" id="">
            <option value="null" selected>{{class.class_teacher.name}}</option>
            {% for teach in teacher_range %}
            <option value="{{teach.ID}}">{{teach.name}}</option>
            {% endfor %}
        </select>
        <input type="text" name="name" value='{{class.name}}' placeholder="Літера класу">
        <input type="submit" value="Зберегти">
        {% if error != None %}
        <p class="error">{{error}}</p>
    {% endif %}
    </form>
    
</body>

</html>