<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'editschadult.css' %}" type="text/css">
    </head>
    <body>
        <h1>Розклад</h1>
        <form action="" method="POST">
            {% csrf_token %}
        <table>
            <tr>
                <th>
                    Понеділок
                </th>
                <th>
                    Вівторок
                </th>
                <th>
                    Середа
                </th>
                <th>
                    Четвер
                </th>
                <th>
                    П'ятниця
                </th>
            </tr>
            <tr>
                {% for i in lesson_range %}
                <td>
                    <ol>
                    {% for j in i.lessons %}
                        <li>
                    <select name="{{j.num}}-{{i.day}}" id="">
                        <option value="null" selected>{{j.name}}</option>
                        
                        {% for k in all_lesson_range %}
                        <option value="{{k.ID}}"> {{k.name}} ({{k.teacher}}) </option>
                        
                        {% endfor %}
                        <option value="pass" ></option>
                        
                    </select>
                    </li>
                    {% endfor %}
                    </ol>
                </td>
                {% endfor %}
            </tr>
        </table>
        <p>
            <button name="but_id" value = 'save'>Зберегти</button>
        </p>
    </form>
    </body>
</html>