{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'info.css' %}">
        <title>Інформація</title>
    </head>
    <body>  
        <div class="head">
            <ul>
                <li>
                    <header>
                        
                        <a href="" class="person">
                            <ion-icon class="person" name="person"></ion-icon>
                        </a>

                        <li class="logo"><ion-icon class="logo" name="logo-python"></ion-icon></li>
                        <!-- <li class=""><a href="{% url 'login' %}"><button type="button" class="">Авторизоваться</button></a></li>
                        <li class=""></li><a href="{% url 'reg' %}"><button type="button" class="">Регистрация</button></a></li> -->
                    </header>
                </li>
            </ul>
        </div>
        <div class="menu">
            <ul>
                <a href="{% url 'home' %}"></a>
                    <ion-icon class="main_img" name="home"></ion-icon>
                    <a href="{% url 'home' %}" class="text"><strong>Головна</strong></a>
                
  
                <a href="{% url 'schools' %}"></a>
                    <ion-icon class="main_img" name="school"></ion-icon>
                    <a href="{% url 'schools' %}" class="text"><strong>Школи</strong></a>
                

                <a href="{% url 'home'%}"></a>
                    <ion-icon class="main_img" name="information-circle"></ion-icon>
                    <a href="{% url 'info'%}" class="text"><strong>Інформація про нас</strong></a>
                
                
                <a href="{% url 'home'%}"></a>
                    <ion-icon class="main_img" name="log-out"></ion-icon>
                    <a href="{% url 'home'%}" class="text"><strong>Вийти</strong></a>
            </ul>
          </div>






        <div>
            <ul>
                <li>
                    <a href="{% url 'home' %}"> <strong>Тут буде інформація про сайт та про нас</strong></a>
                </li>
            </ul>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>