{% extends 'MainApp/base.html' %}


{% block content %}
<main class='base_main'>
    <ul class="ul_named">
        <!-- <li class="li_named">
            <h3 class="h3_named">
                №
            </h3>
        </li> -->
        <li class="li_named">
            <h3 class="h3_named">
                Назва урока
            </h3>
        </li>
        <li class="li_named">
            <h3 class="h3_named">
                Вчитель
            </h3>
        </li>
    </ul>
    <div class="div_schools">
        <ul class='ul_schools'>
            {% for i in range %}
            <li class="li_schools">
                <form action="" class="form_school" method="POST">
                    {% csrf_token %}
                    <!-- <div class="div_school"> -->
                        <!-- <p> Переглянути</p> -->
                        <div  class='button_schools'>
                            <ul class='ul_school'>
                                <!-- <li class="li_school">
                                    {{i.ID}}
                                </li> -->
                                <li class="li_school">
                                    {{i.name}}
                                </li>
                                <li class="li_school">
                                    {{i.teacher.name}}
                                </li>
                            </ul>
                        </div>
                        <button name="button_edit" value="{{i.ID}}" class="button_edit_school">
                            􀈎
                        </button>
                        <button name="button_del" value="{{i.ID}}"class="button_del_school">
                            􀆚
                        </button>
                        <button name='id'  value="{{i.ID}}" class="disable_error">Переглянути</button>
                    <!-- </div> -->
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    <p class="p_make_school">
        <form action="" method="POST">
            {% csrf_token %}
            <button  class="button_make_school" name='make' value="1">Cтворити урок</button>
        </form>
    </p>
</main>
    {% if make == True %}
    
        <div class='div_new_school'>
            <form action="" method="POST">
                {% csrf_token %}
                <button class='but_new_school'></button>
            </form>
            <form action="" method="POST" class='form_new_school'>
                {% csrf_token %}
                {% if info_for_edit == None %}
                    <p class = 'h_new_school'>Створити урок</p>
                        <input class='input_new_school' type="text" placeholder="Назва уроку" name="name" autocomplete="off">
                        <select class='select_new_school' name="teacher" class="reg_input" id="" >
                            <option value="null" selected>Вчитель</option>
                            {% for teach in teacher_range %}
                            <option value="{{teach.ID}}">{{teach.name}}</option>
                            {% endfor %}
                        </select>
                        <button value="1" name="new_lesson" class="button_new_school" autocomplete="off">Створити</button>
                {% else %}
                    <p class = 'h_new_school'>Редагувати урок</p>
                    <input class='input_new_school'value="{{info_for_edit.name}}" type="text" placeholder="Назва уроку" name="name" autocomplete="off">
                    <select class='select_new_school' name="teacher" class="reg_input" id="" >
                        <option value="{{info_for_edit.ID}}" selected>{{info_for_edit.teacher.name}}</option>
                        {% for teach in teacher_range %}
                        <option value="{{teach.ID}}">{{teach.name}}</option>
                        {% endfor %}
                    </select>
                    <button value="{{info_for_edit.ID}}" name="save_lesson" class="button_new_school" autocomplete="off">Редагувати</button>
                {% endif %}
            </form>
        </div>
    {% endif %}
{% endblock %}
                   