{% load static %}
<!DOCTYPE html>
{% if errortext == 0 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'make-form.css' %}" type="text/css">
</head>

<body>
        <div class="reg-form">
            <form action="" method="POST">
                {% csrf_token %}
                <p>
                    <input type="text" name="name-form" placeholder="Назва форми" autocomplete="off">
                </p>
                <p>
                    <input type="text" name="name" placeholder="Назва вашого закладу" autocomplete="off">
                </p>
                <p>
                    <input type="text" name="name-event" placeholder="Назва заходу" autocomplete="off">
                </p>
                <p>
                    <input type="date" name="date" placeholder="Дата проведення заходу" autocomplete="off">
                </p>
                <p>
                    <input type="number" name="count" placeholder="Кількість запитань" autocomplete="off" min="1" max="10">
                </p>
                <h2>Колір фону</h2>
                <p>
                    <input class="col" type="color" name="color-back" placeholder="Колір фону" autocomplete="off" min="1" max="10">
                </p>
                <h2>Колір тексту</h2>
                <p>
                    <input class="col" type="color" name="color-text" placeholder="Колір тексту" autocomplete="off" min="1" max="10">
                </p>
                <p>
                    <input type="submit" value="Створити" class = 'but' autocomplete="off">
                </p>
                
            </form>
        </div>
        
        
</body>

</html>
{% endif %}
{% if errortext != 0 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'make-form1.css' %}" type="text/css">
    </head>
    <body >
        <div style="background-color: {{color_back}};">
           <h2>{{name_form}}</h2>
           <p style="color: {{color_text}};">{{name}} пропонує вам заповнити форму реєстраціі на захід "{{name_event}}".
            Який відбудется {{date}}</p>
        </div>
    </body>
    </html>
        
        {% endif %}