<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'makestudent.css' %}" type="text/css">
</head>
<body>
    <form method = 'POST'>
     {% csrf_token %}
     <main>
     <div>
        <p>
            <input type="text" name= 'name' placeholder="Ім'я учня">
        </p>
        <p>
            <input type="text" name= 'surname' placeholder="Прізвище учня">
        </p>
        <p>
            <input type="text" name= 'second_name' placeholder="По батькові учня">
        </p>
        <p>
            <input type="date" name = 'birthday' placeholder="Дата народження">
        </p>
        <p>
            <input type="email" name = 'email' placeholder="Email">
        </p>
        <p>
            <input type="tel" name="number_phone" 
            pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
            placeholder="Номер телефону учня">
            <small>Format: 0951234567</small>
        </p>
        <p>
            <input type="text" name= 'adress' placeholder="Адреса проживання">
        </p>
     </div>
    </main>
    <main>
     <div>
        <p>
            <input type="text" name= 'name_parrent1' placeholder="Повне ім`я одного з батьків">
        </p>
        <p>
            <input type="tel" name="number_phone_parrent1" 
            pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
            placeholder="Номер телефону одного з батьків">
            <small>Format: 0951234567</small>
        </p>
        <p>
            <input type="text" name= 'work_parrent1' placeholder="Місце праці одного з батьків">
        </p>
     </div>
     <div>
        <p>
            <input type="text" name= 'name_parrent2' placeholder="Повне ім`я одного з батьків">
        </p>
        <p>
            <input type="tel" name="number_phone_parrent2" 
            pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
            placeholder="Номер телефону одного з батьків">
            <small>Format: 0951234567</small>
        </p>
        <p>
            <input type="text" name= 'work_parrent2' placeholder="Місце праці одного з батьків">
        </p>
     </div>
    </main>
    <main>
    <p>
        <input type="submit" value="Створити">
    </p>
</main>
</form>
</body>
</html>