<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'marks.css' %}" type="text/css">
</head>
<body>
    <h2>{{class.name}}</h2>
    <h2>{{lesson.name}}</h2>
    <table>
        {% for i in range %}
            <tr>
                <th>{{i.name}} {{i.surname}}</th>
                {% for j in range2 %}
                    <td>
                        <input type="number" min="1" max="12">
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>