{% extends 'MainApp/base.html' %}

{% load static %}
{% block content %}
<main class='base_main'>
    <form action="" method="POST">
        {% csrf_token %}
        <ul class='menu_school_ul'>
            {% if type_page == 0 %}
            <li class='menu_school_li'>
                {% if menu_class_select == 1 %} 
                    <div class='menu_school_div menu_school_selected'>
                {% else %}
                    <div class='menu_school_div'>
                {% endif %}   
                    <button class="menu_school_button" name = 'button_menu' value="1">{{class.rank}} - {{class.name}}</button>
                </div>
                
                
            </li>
            <li class='menu_school_li'>
                {% if menu_class_select == 2 %} 
                    <div class='menu_school_div menu_school_selected'>
                {% else %}
                    <div class='menu_school_div'>
                {% endif %}  
                    <button class="menu_school_button" name = 'button_menu' value="2">Розклад</button>
                </div>
            </li>
            {% if not perms.MainApp.view_student %}
            <li class='menu_school_li'>
                {% if menu_class_select == 3 %} 
                    <div class='menu_school_div menu_school_selected'>
                {% else %}
                    <div class='menu_school_div'>
                {% endif %}  
                    <button class="menu_school_button" name = 'button_menu' value="3">Список учнів</button>
                </div>
            </li>
            <li class='menu_school_li'>
                {% if menu_class_select == 4 %} 
                    <div class='menu_school_div menu_school_selected'>
                {% else %}
                    <div class='menu_school_div'>
                {% endif %}  
                    <button class="menu_school_button" name = 'button_menu' value="4">Список уроків</button>
                </div>
            </li>
            {% endif %}
            <li class='menu_school_li'>
                {% if menu_class_select == 7 %} 
                    <div class='menu_school_div menu_school_selected'>
                {% else %}
                    <div class='menu_school_div'>
                {% endif %}  
                    <button class="menu_school_button" name = 'button_menu' value="5">Оцінки</button>
                </div>
            </li>
            {% elif type_page == 1 %}
                <li class='menu_school_li'>
                    {% if menu_class_select == 1 %} 
                        <div class='menu_school_div menu_school_selected'>
                    {% else %}
                        <div class='menu_school_div'>
                    {% endif %}  
                        <button class="menu_school_button" name = 'button_menu' value="1">{{student.name}} {{student.surname}}</button>
                    </div>
                </li>
                <li class='menu_school_li'>
                    {% if menu_class_select == 7 %} 
                        <div class='menu_school_div menu_school_selected'>
                    {% else %}
                        <div class='menu_school_div'>
                    {% endif %}  
                        <button class="menu_school_button" name = 'button_menu' value="7">Оцінки</button>
                    </div>
                </li>
            {% elif type_page == 2 %}
            {% if not perms.MainApp.view_student %}
                <li class='menu_school_li'>
                    {% if menu_class_select == 1 %} 
                        <div class='menu_school_div menu_school_selected'>
                    {% else %}
                        <div class='menu_school_div'>
                    {% endif %}  
                        <button class="menu_school_button" name = 'button_menu' value="1">{{lesson.name}} ({{lesson.teacher.name}})</button>
                    </div>
                </li>
                {% endif %}
                <li class='menu_school_li'>
                    {% if menu_class_select == 7 %} 
                        <div class='menu_school_div menu_school_selected'>
                    {% else %}
                        <div class='menu_school_div'>
                    {% endif %}  
                        <button class="menu_school_button" name = 'button_menu' value="7">Оцінки</button>
                    </div>
                </li>
            {% endif %}
        </ul>
    </form>
    <div class="filter_div">
        <form action="" method="POST">
            {% csrf_token %}
            <select name="month" class="filter_select">
                <option class="filter_option" value="{{month.ID}}" selected>{{month.name}}</option>
                {% for i in monthes %}
                    {% if i.ID != month.ID %}
                        <option class="filter_option" value="{{i.ID}}">{{i.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select name="student" class="filter_select">
                {% if student == None %}
                    <option class="filter_option" value="null" selected>Учень</option>
                {% else %}
                    <option class="filter_option" value="{{student.id}}" selected>{{student.name}} {{student.surname}}</option>
                {% endif %}
                {% for i in students %}
                    {% if i.id != student.id %}
                        <option class="filter_option" value="{{i.id}}">{{i.name}} {{i.surname}}</option>
                    {% endif %}
                {% endfor %}
                <option class="filter_option" value="null"></option>
            </select>
            <select name="lesson" class="filter_select">
                {% if lesson == None %}
                    <option class="filter_option" value="null" selected>Урок</option>
                {% else %}
                    <option class="filter_option" value="{{lesson.ID}}" selected>{{lesson.name}}({{lesson.teacher.name}})</option>
                {% endif %}
                {% for i in lessons %}
                    <option class="filter_option" value="{{i.ID}}">{{i.name}} ({{i.teacher.name}})</option>
                {% endfor %}
            </select>
            <button name='but_filtr' class="filter_button" value="1">Фільтрувати</button>
        
    </div>

    <div class="marks_table">
        <ul class="main_ul_for_marks">
        {% if student != None %}
            {% for i in range %}
                <li class="li_main_ul">
                    <ul class="second_ul">
                        <li class="marks_p_li">{{i.name}}</li>
                        <li class="li_for_ul">
                            <ul class="marks_ul">
                                {% if not perms.MainApp.view_student %}
                                    {% for j in i.marks %}
                                        <!-- <li class="marks_li"></li> -->
                                            <input class="marks_input" type="number" name ='{{i.ID}}-{{j.ID}}' min="1" max="12" value="{{j.mark}}">
                                        <!-- </li> -->
                                    {% endfor %}
                                {% else %}
                                {% for j in i.marks %}
                                <!-- <li class="marks_li"></li> -->
                                    <li class="narks_input">{{j.mark}}</li>
                                <!-- </li> -->
                                {% endfor %}
                                {% endif %}
                        </li>
                    </ul>
                </li>
            </ul>
            {% endfor %}
        {% elif lesson != None %}
            {% for i in range %}
            <li class="li_main_ul">
                <ul class="second_ul">
                    <li class="marks_p_li">{{i.name}}</li>
                    <li class="li_for_ul">
                        <ul class="marks_ul">
                            {% if not perms.MainApp.view_student %}
                            {% for j in i.marks %}
                                <!-- <li class="marks_li"></li> -->
                                    <input class="marks_input" type="number" name ='{{i.stud_id}}-{{j.ID}}' min="1" max="12" value="{{j.mark}}"></button>
                                <!-- </li> -->
                            {% endfor %}
                            {% else %}
                            {% for j in i.marks %}
                                <!-- <li class="marks_li"></li> -->
                                    {% if j.mark %}
                                        <li class="marks_input_li">{{j.mark}}</li>
                                    {% else %}
                                        <li class="marks_input_li">  </li>
                                    {% endif %}
                                <!-- </li> -->
                                {% endfor %}
                                {% endif %}
                    </li>
                </ul>
            </li>
        </ul>
        {% endfor %}
        {% endif %}


    </div>
    {% if not perms.MainApp.view_student %}
        {% if student != None or lesson != None %}
        <button name='save_marks' class="button_save_marks" value="1">Зберегти</button>
        {% endif %}
    {% endif %}
</form>
</main>

{% endblock %}