{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Регистрация</title>
        <link rel="stylesheet" href="{% static 'reg.css' %}" type="text/css">
    </head>
    <body>
        {% if errortext != 0 %}
        <div class='error-box'>
            <p>{{errortext}}</p>
        </div>
        {% endif %}
        <img src="{% static 'image/logo.png' %}" alt="">
        <h2>Реєстрація</h2>
        <div class="reg-form">
            
            <form action="" method="POST">
                {% csrf_token %}
                <p>
                    <input type="text" name="User_Name" placeholder="Login" autocomplete="off">
                </p>
                <p>
                    <input type="email" name="Email" placeholder="Email" autocomplete="off">
                </p>
                <p>
                    <input type="password" name="Password" placeholder="Password" autocomplete="off">
                </p>
                <p>
                    <input type="password" name="Password1" placeholder="Confirm password" autocomplete="off">
                </p>
                <p>
                    <input type="submit" value="Зареєструватися" class = 'but' autocomplete="off">
                </p>
                
                <p>
                    <a href="{% url 'login' %}">Вхід</a>
                </p>
                
            </form>
        </div>
    </body>
</html>