{% extends 'MainApp/base.html' %}

{% load static %}
{% block content %}
<main class='base_main'>
    <ul class="ul_named">
        <li class="li_named">
            <h3 class="h3_named">
                Назва школи
            </h3>
        </li>
        <li class="li_named">
            <h3 class="h3_named">
                Номер
            </h3>
        </li>
        <li class="li_named">
            <h3 class="h3_named">
                Місто
            </h3>
        </li>
    </ul>
    <div class="div_schools">
        <ul class='ul_schools'>
            {% for i in range %}
            <li class="li_schools">
                <form action="" class="form_school" method="POST">
                    {% csrf_token %}
                    <!-- <div class="div_school"> -->
                        <!-- <p> Переглянути</p> -->
                        <div class='button_schools'>
                            <ul class='ul_school'>
                                <li class="li_school">
                                    {{i.title}}
                                </li>
                                <li class="li_school">
                                    №{{i.number}}
                                </li>
                                <li class="li_school">
                                    {{i.town}}
                                </li>
                                <!-- <li class="li_school_buttons">
                                    
                                </li>
                                <li class="li_school_buttons">
                                    
                                </li> -->
                            </ul>
                        </div>
                        <button name="button_edit" value="{{i.id}}" class="button_edit_school">
                            <img src="{% static 'image/edit.png' %}" alt="">
                        </button>
                        <button name="button_del" value="{{i.id}}"class="button_del_school">
                            <img src="{% static 'image/del.png' %}" alt="">
                        </button>
                        <button name='id'  value="{{i.id}}" class="disable_error">Переглянути</button>
                    <!-- </div> -->
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    <p class="p_make_school">
        {% if perms.MainApp.show_school %}
        <form action="" method="POST">
            {% csrf_token %}
            <button  class="button_make_school" name='make' value="1">Cтворити школу</button>
        </form>
        {% endif %}
    </p>
</main>
    {% if make == 1 %}
    
        <div class='div_new_school'>
            <form action="" method="POST">
                {% csrf_token %}
                <button class='but_new_school'></button>
            </form>
            <form action="" method="POST" class='form_new_student'>
                {% csrf_token %}
                
                    {% if info_for_edit == None %}
                        <p class = 'h_new_school'>Створити школу</p>
                        <input class='input_new_school' type="text" placeholder="Назва школи" name="name" autocomplete="off">
                        <input class='input_new_school' type="number" placeholder="Номер школи" name="num" autocomplete="off">
                        <input class='input_new_school' type="text" placeholder="Місто" name="town" autocomplete="off">
                        <input class='input_new_school' type="text" placeholder="Пароль" name="password" autocomplete="off">
                        <input class='input_new_school' type="email" placeholder="Email" name="email" autocomplete="off">
                        <input class='input_new_school' type="url" placeholder="Сайт школи" name="site" autocomplete="off">
                        <input class="input_new_school" type="tel" name="phone" 
                            pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                            placeholder="Номер телефону (0951234567)">
                        <button value="1" name="next1" class="button_new_school" autocomplete="off">Створити</button>
                    {% else %}
                        <p class = 'h_new_school'>Редагувати школу</p>
                        <input class='input_new_school' type="text" placeholder="Назва школи" name="name" autocomplete="off" value="{{info_for_edit.title}}">
                        <input class='input_new_school' type="number" placeholder="Номер школи" name="num" autocomplete="off" value="{{info_for_edit.number}}">
                        <input class='input_new_school' type="text" placeholder="Місто" name="town" autocomplete="off" value="{{info_for_edit.town}}">
                        <input class='input_new_school' type="text" placeholder="Пароль" name="password" autocomplete="off" value="{{info_for_edit.password}}">
                        <input class='input_new_school' type="email" placeholder="Email" name="email" autocomplete="off" value="{{info_for_edit.email}}">
                        <input class='input_new_school' type="url" placeholder="Сайт школи" name="site" autocomplete="off" value="{{info_for_edit.school_site}}">
                        <input class="input_new_school" type="tel" name="phone" 
                            pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                            placeholder="Номер телефону (0951234567)" value="{{info_for_edit.school_phone}}">
                        <button value="{{info_for_edit.id}}" name="save_school" class="button_new_school" autocomplete="off">Продовжити</button>
                    {% endif %}
            </form>
        </div>
    {% endif %}
    {% if make == 2 %}
    
        <div class='div_new_school'>
            <form action="" method="POST">
                {% csrf_token %}
                <button class='but_new_school'></button>
            </form>
            <form action="" method="POST" class='form_new_student'>
                {% csrf_token %}
                {% if info_for_edit == None %}
                <p class = 'h_new_school'>Додаткова інформація про школу</p>
                <input class='input_new_school' type="text" placeholder="Адреса" name="adress" autocomplete="off">
                <input class='input_new_school' type="text" placeholder="Тип школи" name="school_type" autocomplete="off">
                <input class='input_new_school' type="text" placeholder="Повне ім'я директора" name="director" autocomplete="off">
                <input class='input_new_school' type="text" placeholder="Профіль школи" name="profil" autocomplete="off">
                <input class='input_new_school' type="text" placeholder="Facebook" name="facebook" autocomplete="off">
                <input class='input_new_school' type="text" placeholder="Instagram" name="instagram" autocomplete="off">
                <input type="hidden" name="school_id" value="{{id_school_for_info_form}}">
                    <button value="1" name="new_school" class="button_new_school" autocomplete="off">Завершити</button>
                {% else %}
                <p class = 'h_new_school'>Редагувати школу</p>
                <input class='input_new_school' type="text" placeholder="Адреса" name="adress" autocomplete="off" value="{{info_for_edit.adress}}">
                <input class='input_new_school' type="text" placeholder="Тип школи" name="school_type" autocomplete="off" value="{{info_for_edit.school_type}}">
                <input class='input_new_school' type="text" placeholder="Повне ім'я директора" name="director" autocomplete="off" value="{{info_for_edit.school_director}}">
                <input class='input_new_school' type="text" placeholder="Профіль школи" name="profil" autocomplete="off" value="{{info_for_edit.school_profil}}">
                <input class='input_new_school' type="text" placeholder="Facebook" name="facebook" autocomplete="off" value="{{info_for_edit.facebook}}">
                <input class='input_new_school' type="text" placeholder="Instagram" name="instagram" autocomplete="off"nvalue="{{info_for_edit.instagram}}">
                <button value="{{info_for_edit.id}}" name="save_school1" class="button_new_school" autocomplete="off">Збергти</button>
                {% endif %}
            </form>
        </div>
    {% endif %}
{% endblock %}
                   