{% extends 'MainApp/base.html' %}

{% load static %}
{% block content %}
<main class="base_main">
    <form action="" method="POST">
        {% csrf_token %}
        <img class = 'school_info_image' src="{% static 'image/info_school.png' %}" alt="">
        <ul class='menu_school_ul'>
            <li class='menu_school_li'>
                {% if menu_school_select == 1 %} 
                    <div class='menu_school_div menu_school_selected'>
                {% else %}
                    <div class='menu_school_div'>
                {% endif %}   
                    <button class="menu_school_button" name = 'button_menu' value="1">{{school.title}}</button>
                </div>
                
                
            </li>
            <li class='menu_school_li'>
                {% if menu_school_select == 2 %} 
                    <div class='menu_school_div menu_school_selected'>
                {% else %}
                    <div class='menu_school_div'>
                {% endif %}  
                    <button class="menu_school_button" name = 'button_menu' value="2">Інформація</button>
                </div>
            </li>
            <li class='menu_school_li'>
                {% if menu_school_select == 3 %} 
                    <div class='menu_school_div menu_school_selected'>
                {% else %}
                    <div class='menu_school_div'>
                {% endif %}  
                    <button class="menu_school_button" name = 'button_menu' value="3">Контакти</button>
                </div>
            </li>
            <li>
                <p class="p_info_scholl_city">
                    Місто: {{school.town}}
                </p>
            </li>
            <li>
                <p class="p_info_scholl_adress">
                    Адреса: {{school.adress}}
                </p>
            </li>
            <li>
                <p class="p_info_scholl_type">
                    Тип школи: {{school.school_type}}
                </p>
            </li>
            <li>
                <p class="p_info_scholl_director">
                    Директор школи: {{school.school_director}}
                </p>
            </li>
            <li>
                <p class="p_info_scholl_profil">
                    Профіль школи: {{school.school_profil}}
                </p>
            </li>
            <li>
                <p class="p_info_scholl_site">
                    Сайт школи: <a class = 'site_school_a' href="{{school.school_site}}">Посилання</a>
                </p>
            </li>
        </ul>
    </form>

</main>
{% endblock %}
