{% extends 'MainApp/base.html' %}


{% block content %}
<main class="base_main">

</main>
{% endblock %}
<div class="main">
<h1>{{school.title}}</h1>
    {% if type == 'create_class' %}
        <main>
            <div class = 'reg_div'>
                <form action="" method="POST" class = 'reg_form'>
                    {% csrf_token %}
                    <p>
                        <input class = 'reg_input' type="text" name="name" placeholder="Літера класу" autocomplete="off">
                    </p>
                    <p>
                        <select name="class_teacher" class="reg_input" id="">
                            <option value="null" selected>Вчитель</option>
                            {% for teach in teacher_range %}
                            <option value="{{teach.ID}}">{{teach.name}}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <p>
                        <input class = 'reg_input' type="number" name="rank" placeholder="Номер класу" autocomplete="off"  min="1" max="12">
                    </p>
                    <p>
                        <button class = 'reg_input' name="id" value="4">Підтвердити</button>
                    </p>
                </form>
            </div>
        </main>
    {% endif %}
    {% if type == 'show_clases' %}
        <main>
            <table class="class_table">
                <tr class="class_tr">
                    <th class="class_th"></th>
                    <th class="class_th">
                        Клас
                    </th>
                    <th class="class_th">
                        Класний керівник
                    </th>
                </tr>
            
                {% for i in range %}
                    <tr class="class_tr">
                        <td class="class_td">
                            <form action="" method = 'POST'>
                                {% csrf_token %}
                                <button name = 'id_class' value="{{i.ID}}">Переглянути</button>
                            </form>
                        </td>
                        <td class="class_td">{{i.rank}}-{{i.name}}</td>
                        <td class="class_td">{{i.class_teacher.name}}</td>
                        <td class="class_td">
                            <form action="" method = 'POST'>
                                {% csrf_token %}
                                <button name = 'del_class' value="{{i.ID}}">Видалити</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <form action="" method="POST" class = 'but_form'>
                {% csrf_token %}
                <button class = 'but' name = 'id' value="1">Створити клас</button>
            </form>
        </main>
    {% endif %}
    {% if type == 'create_lesson' %}
        <main>
            <div class = 'reg_div'>
            <form action="" method= 'POST' class = 'reg_form'>
                {% csrf_token %}
                <p>
                <input class="reg_input" type="text" name= 'lesson_name' placeholder="Назва уроку" autocomplete="off">
                </p>
                <p>
                    <select name="teacher_name_lesson" class="reg_input" id="">
                        <option value="null" selected>Вчитель</option>
                        {% for teach in teacher_range %}
                        <option value="{{teach.ID}}">{{teach.name}}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                <button class = 'reg_input' name="id" value="5">Підтвердити</button>
                </p>
            </form>
        </div>
        </main>
    {% endif %}
    {% if type == 'show_lessons' %}
    <main>
        <table class="class_table">
            <tr class="class_tr">
                <th class="class_th">Назва уроку</th>
                <th class="class_th">Вчитель</th>
            </tr>
            {% for i in range %}
                <tr class="class_tr">
                    <td class="class_td">{{i.name}}</td>
                    <td class="class_td">{{i.teacher.name}}</td>
                    <td class="class_td"> <form action="" method="POST">
                        {% csrf_token %}
                        <button name="button_lesson" value="{{i.ID}}">Переглянути</button>
                    </form></td>
                    <td class="class_td">
                        <form action="" method = 'POST'>
                            {% csrf_token %}
                            <button name = 'del_lesson' value="{{i.ID}}">Видалити</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <form action="" method="POST" class = 'but_form'>
            {% csrf_token %}
            <button class = 'but' name = 'id' value="2">Створити урок</button>
        </form>
    </main>
    {% endif %}
    {% if type == 'create_teacher' %}
    <main>
        <div class = 'reg_div'>
            <form action="" method= 'POST' class = 'reg_form'>
                {% csrf_token %}
                <p>
                <input class="reg_input" type="text" name= 'teacher_name' placeholder="Ім'я вчителя" autocomplete="off">
                </p>
                <p>
                <input class="reg_input" type="text" name = 'teacher_login' placeholder="Логін" autocomplete="off">
                </p>
                <p>
                    <input class="reg_input" type="text" name = 'teacher_password' placeholder="Пароль" autocomplete="off">
                </p>
                <p>
                <button class = 'reg_input' name="id" value="8">Підтвердити</button>
                </p>
            </form>
    </main>
    {% endif %}

    {% if type == 'show_teachers' %}
    <main>
        <table class="class_table">
            <tr class="class_tr">
                <th class="class_th">Ім'я</th>
                <th class="class_th">Логін</th>
                <th class="class_th">Пароль</th>
            </tr>
            {% for i in range %}
                <tr class="class_tr">
                    <td class="class_td">{{i.name}}</td>
                    <td class="class_td">{{i.login}}</td>
                    <td class="class_td">{{i.password}}</td>
                    <td class="class_td"> <form action="" method="POST">
                        {% csrf_token %}
                        <button name="button_teacher" value="{{i.ID}}">Переглянути</button>
                    </form></td>
                    <td class="class_td">
                        <form action="" method = 'POST'>
                            {% csrf_token %}
                            <button name = 'del_teacher' value="{{i.ID}}">Видалити</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <form action="" method="POST" class = 'but_form'>
            {% csrf_token %}
            <button class = 'but' name = 'id' value="7">Створити вчителя</button>
        </form>
        
    </main>
    {% endif %}
    {% if error != None %}
        <p class="error">{{error}}</p>
    {% endif %}
</div>
</body>
</html>