{% extends 'MainApp/base.html' %}

{% load static %}
{% block content %}
<main class="base_main">
    <form action="" method="POST">
        {% csrf_token %}
        <ul class='menu_school_ul'>
            <li class='menu_school_li'>
                {% if menu_school_select == 1 %} 
                    <div class='menu_school_div menu_school_selected'>
                {% else %}
                    <div class='menu_school_div'>
                {% endif %}   
                    <button class="menu_school_button" name = 'button_menu' value="1">{{school.title}}</button>
                </div>
                
                
            </li>
            <li class='menu_school_li'>
                {% if menu_school_select == 2 %} 
                    <div class='menu_school_div menu_school_selected'>
                {% else %}
                    <div class='menu_school_div'>
                {% endif %}  
                    <button class="menu_school_button" name = 'button_menu' value="2">Інформація</button>
                </div>
            </li>
            <li class='menu_school_li'>
                {% if menu_school_select == 3 %} 
                    <div class='menu_school_div menu_school_selected'>
                {% else %}
                    <div class='menu_school_div'>
                {% endif %}  
                    <button class="menu_school_button" name = 'button_menu' value="3">Контакти</button>
                </div>
            </li>
        </ul>
    </form>

</main>
{% endblock %}
