{% extends 'MainApp/base.html' %}


{% block content %}
<main class='base_main'>
    <ul class="ul_named">
        <li class="li_named">
            <h3 class="h3_named">
                Назва школи
            </h3>
        </li>
        <li class="li_named">
            <h3 class="h3_named">
                Номер
            </h3>
        </li>
        <li class="li_named">
            <h3 class="h3_named">
                Місто
            </h3>
        </li>
    </ul>
    <div class="div_schools">
        <ul class='ul_schools'>
            {% for i in range %}
            <li class="li_schools">
                <form action="" class="form_school" method="POST">
                    {% csrf_token %}
                    <!-- <div class="div_school"> -->
                        <!-- <p> Переглянути</p> -->
                        <div class='button_schools'>
                            <ul class='ul_school'>
                                <li class="li_school">
                                    {{i.title}}
                                </li>
                                <li class="li_school">
                                    №{{i.number}}
                                </li>
                                <li class="li_school">
                                    {{i.town}}
                                </li>
                                <!-- <li class="li_school_buttons">
                                    
                                </li>
                                <li class="li_school_buttons">
                                    
                                </li> -->
                            </ul>
                        </div>
                        <button name="button_edit" value="{{i.id}}" class="button_edit_school">
                            􀈎
                        </button>
                        <button name="button_del" value="{{i.id}}"class="button_del_school">
                            􀆚
                        </button>
                        <button name='id'  value="{{i.id}}" class="disable_error">Переглянути</button>
                    <!-- </div> -->
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    <p class="p_make_school">
        <form action="" method="POST">
            {% csrf_token %}
            <button  class="button_make_school" name='make' value="1">Cтворити школу</button>
        </form>
    </p>
</main>
    {% if make == True %}
    
        <div class='div_new_school'>
            <form action="" method="POST">
                {% csrf_token %}
                <button class='but_new_school'></button>
            </form>
            <form action="" method="POST" class='form_new_school'>
                {% csrf_token %}
                
                    {% if info_for_edit == None %}
                        <p class = 'h_new_school'>Створити школу</p>
                        <input class='input_new_school' type="text" placeholder="Назва школи" name="name" autocomplete="off">
                        <input class='input_new_school' type="number" placeholder="Номер школи" name="num" autocomplete="off">
                        <input class='input_new_school' type="text" placeholder="Місто" name="town" autocomplete="off">
                        <input class='input_new_school' type="text" placeholder="Пароль" name="password" autocomplete="off">
                        <button value="1" name="new_school" class="button_new_school" autocomplete="off">Створити</button>
                    {% else %}
                        <p class = 'h_new_school'>Редагувати школу</p>
                        <input class='input_new_school' type="text" placeholder="Назва школи" name="name" autocomplete="off" value="{{info_for_edit.title}}">
                        <input class='input_new_school' type="number" placeholder="Номер школи" name="num" autocomplete="off" value="{{info_for_edit.number}}">
                        <input class='input_new_school' type="text" placeholder="Місто" name="town" autocomplete="off" value="{{info_for_edit.town}}">
                        <input class='input_new_school' type="text" placeholder="Пароль" name="password" autocomplete="off" value="{{info_for_edit.password}}">
                        <button value="{{info_for_edit.id}}" name="save_school" class="button_new_school" autocomplete="off">Збергти</button>
                    {% endif %}
            </form>
        </div>
    {% endif %}
{% endblock %}
                   