{% extends 'MainApp/base.html' %}
{% load static %}

{% block content %}
<main class='base_main'>
    <ul class="ul_named">
        <li class="li_named">
            <h3 class="h3_named">
                Ім'я
            </h3>
        </li>
        <li class="li_named">
            <h3 class="h3_named">
                Клас
            </h3>
        </li>
        <li class="li_named">
            <h3 class="h3_named">
                Номер телефону
            </h3>
        </li>
    </ul>
    <div class="div_schools">
        <ul class='ul_schools'>
            {% for i in range %}
            <li class="li_schools">
                <form action="" class="form_school" method="POST">
                    {% csrf_token %}
                    <!-- <div class="div_school"> -->
                        <!-- <p> Переглянути</p> -->
                        <div  class='button_schools'>
                            <ul class='ul_school'>
                                <li class="li_school">
                                    {{i.student.name}} {{i.student.surname}}
                                </li>
                                <li class="li_school">
                                    {{i.class.rank}} - {{i.class.name}}
                                </li>
                                <li class="li_school">
                                    +38{{i.student.number_phone}}
                                </li>
                            </ul>
                        </div>
                        <button name="button_edit" value="{{i.ID}}" class="button_edit_school">
                            <img src="{% static 'image/edit.png' %}" alt="">
                        </button>
                        <button name="button_del" value="{{i.ID}}"class="button_del_school">
                            <img src="{% static 'image/del.png' %}" alt="">
                        </button>
                        <button name='id'  value="{{i.student.id}}" class="disable_error">Переглянути</button>
                    <!-- </div> -->
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    <p class="p_make_school">
        <form action="" method="POST">
            {% csrf_token %}
            {% if perms.MainApp.show_school %}
            <button  class="button_make_school" name='make' value="1">Створити учня</button>
            {% endif %}
        </form>
    </p>
</main>
    {% if make == 1 %}
    
        <div class='div_new_school'>
            <form action="" method="POST">
                {% csrf_token %}
                <button class='but_new_school'></button>
            </form>
            <form action="" method="POST" class='form_new_student'>
                {% csrf_token %}
                <p class = 'h_new_school'>Створити учня</p>

                    <input class="input_new_school" type="text" name= 'name' placeholder="Ім'я учня">
            
                    <input class="input_new_school" type="text" name= 'surname' placeholder="Прізвище учня">
            
                    <input class="input_new_school" type="text" name= 'second_name' placeholder="По батькові учня">
            
                    <input class="input_new_school" type="date" name = 'birthday' placeholder="Дата народження">
            
                    <input class="input_new_school" type="email" name = 'email' placeholder="Email">
            
            
                    <input class="input_new_school" type="tel" name="number_phone" 
                    pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                    placeholder="Номер телефону учня (0951234567)">
                    <!-- <small>Format: 0951234567</small> -->
            
                    <input class="input_new_school" type="text" name= 'adress' placeholder="Адреса проживання">
                    <select class='select_new_school' name="class_stud" id="">
                        <option selected disabled>Оберіть клас</option>
                        {% for i in clases %}
                            <option value="{{i.ID}}">{{i.rank}}-{{i.name}}</option>
                        {% endfor %}
                    </select>
            
                    <button value="1" name="next1" class="button_new_school"  >Створити</button>
            </form>
        </div>
    {% endif %}
    {% if make == 2 %}
    
        <div class='div_new_school'>
            <form action="" method="POST">
                {% csrf_token %}
                <button class='but_new_school'></button>
            </form>
            <form action="" method="POST" class='form_new_student'>
                {% csrf_token %}
                <p class = 'h_new_school'>Інформація про батьків (Необов'язково) {{id_student_for_parents_form}}</p>
                        <input class="input_new_school" type="text" name= 'name_parrent1' placeholder="Повне ім`я одного з батьків">
                    
                        <input class="input_new_school" type="tel" name="number_phone_parrent1" 
                        pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                        placeholder="Номер телефону одного з батьків (0951234567)">
                    
                        <input class="input_new_school" type="text" name= 'work_parrent1' placeholder="Місце праці одного з батьків">
                    
                        <input class="input_new_school" type="text" name= 'name_parrent2' placeholder="Повне ім`я одного з батьків">
                    
                        <input class="input_new_school" type="tel" name="number_phone_parrent2" 
                        pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                        placeholder="Номер телефону одного з батьків (0951234567)">
                   
                        <input class="input_new_school" type="text" name= 'work_parrent2' placeholder="Місце праці одного з батьків">
                        <input type="hidden" name="student_id" value="{{id_student_for_parents_form}}">
            
                    <button value="1" name="new_student" class="button_new_school" autocomplete="off">Завершити</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
                   