{% extends 'MainApp/base.html' %}


{% block content %}
<main class='base_main'>
    <ul class="ul_named">
        <li class="li_named">
            <h3 class="h3_named">
                Ім'я
            </h3>
        </li>
        <li class="li_named">
            <h3 class="h3_named">
                Логін
            </h3>
        </li>
        <li class="li_named">
            <h3 class="h3_named">
                Пароль
            </h3>
        </li>
    </ul>
    <div class="div_schools">
        <ul class='ul_schools'>
            {% for i in range %}
            <li class="li_schools">
                <form action="" class="form_school" method="POST">
                    {% csrf_token %}
                    <!-- <div class="div_school"> -->
                        <!-- <p> Переглянути</p> -->
                        <button name='id'  value="{{i.id}}" class='button_schools'>
                            <ul class='ul_school'>
                                <li class="li_school">
                                    {{i.name}}
                                </li>
                                <li class="li_school">
                                    {{i.login}}
                                </li>
                                <li class="li_school">
                                    {{i.password}}
                                </li>
                            </ul>
                        </button>
                    <!-- </div> -->
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    <p class="p_make_school">
        <form action="" method="POST">
            {% csrf_token %}
            <button  class="button_make_school" name='make' value="1">Cтворити вчителя</button>
        </form>
    </p>
</main>
    {% if make == True %}
    
        <div class='div_new_school'>
            <form action="" method="POST">
                {% csrf_token %}
                <button class='but_new_school'></button>
            </form>
            <form action="" method="POST" class='form_new_school'>
                {% csrf_token %}
                <p class = 'h_new_school'>Створити школу</p>
                    <input class='input_new_school' type="text" placeholder="Ім'я вчителя" name="name" autocomplete="off">
                    <input class='input_new_school' type="text" placeholder="Логін" name="login" autocomplete="off">
                    <input class='input_new_school' type="text" placeholder="Пароль" name="password" autocomplete="off">
                    <button value="1" name="new_teacher" class="button_new_school" autocomplete="off">Створити</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
                   