{% extends 'MainApp/base.html' %}


{% block content %}
<main class='base_main'>
    <ul class="ul_named">
        <li class="li_named">
            <h3 class="h3_named">
                Ім'я
            </h3>
        </li>
        <li class="li_named">
            <h3 class="h3_named">
                Email
            </h3>
        </li>
        <li class="li_named">
            <h3 class="h3_named">
                Номер телефону
            </h3>
        </li>
    </ul>
    <div class="div_schools">
        <ul class='ul_schools'>
            {% for i in range %}
            <li class="li_schools">
                <form action="" class="form_school" method="POST">
                    {% csrf_token %}
                    <!-- <div class="div_school"> -->
                        <!-- <p> Переглянути</p> -->
                        <button name='id'  value="{{i.ID}}" class='button_schools'>
                            <ul class='ul_school'>
                                <li class="li_school">
                                    {{i.name}}
                                </li>
                                <li class="li_school">
                                    {{i.email}}
                                </li>
                                <li class="li_school">
                                    {{i.phone}}
                                </li>
                                <!-- <li class="li_school">
                                    <button class="button_del" name="button_del"> </button>
                                </li> -->
                            </ul>
                        </button>
                        <button name="button_edit" value="{{i.ID}}" class="button_edit_school">
                            􀈎
                        </button>
                        <button name="button_del" value="{{i.ID}}"class="button_del_school">
                            􀆚
                        </button>
                        <div class="disable_error">Переглянути</div>
                    <!-- </div> -->
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    <p class="p_make_school">
        <form action="" method="POST">
            {% csrf_token %}
            <button  class="button_make_school" name='make' value="1">Cтворити вчителя</button>
        </form>
    </p>
</main>
    {% if make == True %}
    
        <div class='div_new_school'>
            <form action="" method="POST">
                {% csrf_token %}
                <button class='but_new_school'></button>
            </form>
            <form action="" method="POST" class='form_new_student'>
                {% csrf_token %}
                {% if info_for_edit == None %}
                    <p class = 'h_new_school'>Створити вчителя</p>
                    <input class='input_new_school' type="text" placeholder="Ім'я вчителя" name="name" autocomplete="off">
                    <input class='input_new_school' type="email" placeholder="Email" name="email" autocomplete="off">
                    <input class="input_new_school" type="tel" name="phone" 
                    pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                    placeholder="Номер телефону (0951234567)">
                    <input class='input_new_school' type="text" placeholder="Логін" name="login" autocomplete="off">
                    <input class='input_new_school' type="text" placeholder="Пароль" name="password" autocomplete="off">
                    <button value="1" name="new_teacher" class="button_new_school" autocomplete="off">Створити</button>
                {% else %}
                    <p class = 'h_new_school'>Редагувати вчителя</p>
                    <input class='input_new_school' type="text" placeholder="Ім'я вчителя" name="name" autocomplete="off" value="{{info_for_edit.name}}">
                    <input class='input_new_school' type="email" placeholder="Email" name="email" autocomplete="off" value="{{info_for_edit.email}}">
                    <input class="input_new_school" type="tel" name="phone" 
                    pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                    placeholder="Номер телефону (0951234567)" value="{{info_for_edit.phone}}">
                    <input class='input_new_school' type="text" placeholder="Логін" name="login" autocomplete="off" value="{{info_for_edit.login}}">
                    <input class='input_new_school' type="text" placeholder="Пароль" name="password" autocomplete="off" value="{{info_for_edit.password}}">
                    <button value="{{info_for_edit.ID}}" name="save_teacher" class="button_new_school" autocomplete="off">Зберегти</button>
                {% endif %}
            </form>
        </div>
    {% endif %}
{% endblock %}
                   